html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}
  
.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas {
	display: inline-block;
}

.canvas_inner {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.canvas_outer {
	display: table;
	width: 100%;
	height: 100%;
}
